{% extends "bootstrap/base.html" %}

{% block styles %}
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{%block navbar%}
<div class="container">
	<div class="row">
		<div class="span12">
			<div class="navbar">
		      <a href="/home">Home</a>
		      <a href="/profile">Profile</a>
		      <a href="/">Logout</a>
			</div>
		</div>
	</div>
    {% with messages = get_flashed_messages() %}
	    {% if messages %}
	    <div class="row">
	    	<div class="span8 offset4">
			    <ul>
			    {% for message in messages %}
			        <li>{{ message }} </li>
			    {% endfor %}
			    </ul>
			</div>
		</div>
	    {% endif %}
    {% endwith %}
</div>
{%endblock%}
